In [1]:
##create ouryelpphotos.csv (DF) from photo.json (reduce by ourbusinesses.csv)
##
##Input:  yelp file photo.json
##output: ouryelpphotos.csv
##filter: filtered list of businesses in ouryelpbusinesses    

## Import packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import types
import re
#import ijson

import os
from datetime import datetime

%matplotlib inline
##

datetime.now().strftime('%Y-%m-%d %H:%M:%S')

'2019-05-29 14:27:59'

In [2]:
#setup environment
import os
cwd = os.getcwd()
print("Current Working Directory " , cwd)
os.chdir("C:/Users/Richpat/Documents/@syracuse coursework/@IST 718 Big Data Analytics (Python)/finalproject")
print('\nFiles in directory', os.listdir())
print('\n')
pd.show_versions(as_json=True) # True to shorten/flatten output
print ('\nStart date/time', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

Current Working Directory  c:\Users\Richpat\Documents\@syracuse coursework\@IST 718 Big Data Analytics (Python)\finalproject

Files in directory ['.ipynb_checkpoints', '16zpallnoagi.csv', '16zpdoc.doc', '2016_Historical_Business_File_Layout.xlsx', 'aclImdb_v1', 'aclImdb_v1.tar', 'aclImdb_v1.tar.gz', 'b.2.1_41473_project_checkpoint_1_clean.pdf', 'b.4.1_41474_project_checkpoint_2_clean.pdf', 'bCatTall.csv', 'business.json', 'BusinessCategoryCount.csv', 'checkin.json', 'Dataset_Challenge_Dataset_Agreement.pdf', 'DBHArizona164RestaurantsHighRisk.csv', 'DBHArizona164RestaurantsLowGT9.csv', 'DBHArizona164RestaurantsLowLT10.csv', 'DBHArizona164RestaurantsMediumGT6.csv', 'DBHArizona164RestaurantsMediumLT7.csv', 'DBHArizona164RestaurantsNARisk.csv', 'DBHNevada164RestaurantsHighRisk.csv', 'DBHNevada164RestaurantsLowRisk.csv', 'DBHNevada164RestaurantsMediumRisk.csv', 'DBHNevada164RestaurantsNARisk.csv', 'DBHRestaurants.csv', 'DBHRestaurantsSource.zip', 'DescribeYelpData.ipynb', 'DRT_IST718_FinalProject_ReadJSON.rmd', 'DRT_Thinking_draft.pptx', 'MakeOurDBHRestaurantData.rmd', 'MakeOurIRS2016Data.ipynb', 'MakeOurYelpBusinesses.ipynb', 'MakeOurYelpCheckins.ipynb', 'MakeOurYelpPhotos.ipynb', 'MakeOurYelpReviews.ipynb', 'MakeOurYelpTips.ipynb', 'MakeOurYelpUsers.ipynb', 'ourIRS2016byzip.csv', 'ourreviews.csv', 'ouryelpbusinesses.csv', 'ouryelpcheckins.csv', 'ouryelpphotos.csv', 'ouryelpreviews.csv', 'ouryelpreviews.zip', 'ouryelptipsbybusiness.csv', 'ouryelptipsbyuser.csv', 'ouryelpusers.csv', 'Paterson_.Week5ProjectCheckIn.docx', 'Paterson_.Week7ProjectCheckIn.docx', 'photo.json', 'projectDatasets.xlsx', 'review.json', 'reviewdf101.csv', 'reviewdf101k.csv', 'reviewdf101n.csv', 'ReviewFilterTimer.xlsx', 'rs_marketline_advantage_2019517_1.xls', 'rs_marketline_advantage_2019517_2.xls', 'SparkSample.txt', 'tip.json', 'user.json', 'Week7ProjectCheckin.PNG', 'yelp-dataset-agreement.pdf', 'YelpDataDictionary.xlsx', 'yelp_dataset.tar', 'Yelp_Dataset_Challenge_Round_13.pdf', '~$DRT_Thinking_draft.pptx', '~$YelpDataDictionary.xlsx']


{'system': {'commit': None, 'python': '3.6.7.final.0', 'python-bits': 64, 'OS': 'Windows', 'OS-release': '10', 'machine': 'AMD64', 'processor': 'Intel64 Family 6 Model 142 Stepping 10, GenuineIntel', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'None', 'LOCALE': 'None.None'}, 'dependencies': {'pandas': '0.24.2', 'pytest': '4.4.1', 'pip': '19.1', 'setuptools': '41.0.1', 'Cython': '0.29.7', 'numpy': '1.16.3', 'scipy': '1.2.1', 'pyarrow': None, 'xarray': None, 'IPython': '7.5.0', 'sphinx': '2.0.1', 'patsy': '0.5.1', 'dateutil': '2.8.0', 'pytz': '2019.1', 'blosc': None, 'bottleneck': None, 'tables': None, 'numexpr': None, 'feather': None, 'matplotlib': '3.0.3', 'openpyxl': '2.6.1', 'xlrd': '1.2.0', 'xlwt': '1.3.0', 'xlsxwriter': '1.1.7', 'lxml.etree': '4.3.3', 'bs4': '4.7.1', 'html5lib': '1.0.1', 'sqlalchemy': '1.3.2', 'pymysql': None, 'psycopg2': None, 'jinja2': '2.10.1', 's3fs': None, 'fastparquet': None, 'pandas_gbq': None, 'pandas_datareader': None, 'gcsfs': None}}

Start date/time 2019-05-29 14:28:00

In [3]:
def readJSONreturnLIST (fn, verbosity):

    print ('Start readJSONreturnLIST for ', fn, 'at date/time', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
    
    with open(fn, encoding='utf-8') as json_file:      
        data = json_file.readlines()
        # this line below may take at least 8-10 minutes of processing for 4-5 million rows. It converts all strings in list to actual json objects. 
        data = list(map(json.loads, data)) 
        
    print ('Type data', type(data), 'len data', len(data))
        
    print ('Start readJSONreturnLIST date/time', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

    return (data)

In [4]:
# read in full business.json files (excluding review.json - see later for that)

print ('Start date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
photos=readJSONreturnLIST ('photo.json', 2)
print ('\nNumber of elements', len(photos))
print ('End date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

Start date/time: 2019-05-29 14:28:00
Start readJSONreturnLIST for  photo.json at date/time 2019-05-29 14:28:00
Type data <class 'list'> len data 200000
Start readJSONreturnLIST date/time 2019-05-29 14:28:01

Number of elements 200000
End date/time: 2019-05-29 14:28:01

In [5]:
print ('Date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
rNophotosCnt=0
print ('Sample of photos data')
print ('=======================')
for photo in photos:
    if rNophotosCnt==0:
        print (photo)
        print ('business ID', photo['business_id'])
        print ('label', photo['label'])
        print (json.dumps(photo, indent=4))
    rNophotosCnt+=1
print('Number of photos counted:', rNophotosCnt)
print ('Date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

Date/time: 2019-05-29 14:28:01
Sample of photos data
=======================
{'caption': '', 'photo_id': 'MllA1nNpcp1kDteVg6OGUw', 'business_id': 'rcaPajgKOJC2vo_l3xa42A', 'label': 'inside'}
business ID rcaPajgKOJC2vo_l3xa42A
label inside
{
    "caption": "",
    "photo_id": "MllA1nNpcp1kDteVg6OGUw",
    "business_id": "rcaPajgKOJC2vo_l3xa42A",
    "label": "inside"
}
Number of photos counted: 200000
Date/time: 2019-05-29 14:28:01

In [6]:
#convert photos to DF
print ('Date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
photosDF=pd.DataFrame(photos)
photosDF.index=photosDF['photo_id']
photosDF.drop('photo_id', axis=1, inplace=True)  

print("photosDF data")
print("===============")

#print("\n***** isna")
#print(photosDF.isnull().sum())

print("\n***** dtypes")
print(photosDF.dtypes)

print("\n***** head")
print(pd.DataFrame.head(photosDF))

print("\n***** describe")
print(photosDF.describe())

print ('Date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

Date/time: 2019-05-29 14:28:01
photosDF data
===============

***** dtypes
business_id    object
caption        object
label          object
dtype: object

***** head
                                   business_id caption   label
photo_id
MllA1nNpcp1kDteVg6OGUw  rcaPajgKOJC2vo_l3xa42A          inside
YjxBE88Bf6CmTEF2LP1UNA  Kn23LDd740SBVJ7mum0fwg          inside
1f7izSjM0WjkDRIVbPy1yw  ZkGDCVKSdf8m76cnnalL-A            food
NcSlcDTEEeOaixotOPk-rA  bF8gv7k_rwZtiDLP2ZB04w          inside
5IiIo5UKEW0lWqZ6sWrY_A  50Anorn0DJXFhBr9a9_gHQ          inside

***** describe
                   business_id caption   label
count                   200000  200000  200000
unique                   30488   71513       5
top     RESDUcs7fIiihp38-d6_6g            food
freq                       823  107850  114874
Date/time: 2019-05-29 14:28:01

In [7]:
#load "our businesses"
#
print ('Date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

OurBusinessesDF = pd.read_csv("ouryelpbusinesses.csv", sep="|")
BusinessesIDDF = OurBusinessesDF.groupby(['business_id'])['business_id'].agg(['count'])
OurBusinessesDF.index=OurBusinessesDF['business_id']
OurBusinessesDF.drop('business_id', axis=1, inplace=True)  
BusinessesIDDF.columns = ['BusinessCnt']

print ('Date/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

print("OurBusinessesDF data")
print("====================")

print("\n***** head")
print(pd.DataFrame.head(OurBusinessesDF))

Date/time: 2019-05-29 14:28:01
Date/time: 2019-05-29 14:28:01
OurBusinessesDF data
====================

***** head
                        Unnamed: 0                       address  \
business_id
1Dfx3zM-rW4n-31KeC8sJg          11       2450 E Indian School Rd
PZ-LZzSlhSe9utkQYU8pFg          17  1775 E Tropicana Ave, Ste 29
LB6ZyCfUzeX9OLdunHhnOQ          30        8800 W Charleston Blvd
HVPcIcqiJkrpD36xZFGN6g          34           3150 N Rainbow Blvd
0_ohldeFwysbglrTLSGM4Q          36              15224 N 59th Ave

                                                               attributes  \
business_id
1Dfx3zM-rW4n-31KeC8sJg  {'RestaurantsTakeOut': 'True', 'BusinessParkin...
PZ-LZzSlhSe9utkQYU8pFg  {'OutdoorSeating': 'False', 'BusinessAcceptsCr...
LB6ZyCfUzeX9OLdunHhnOQ  {'BusinessAcceptsCreditCards': 'True', 'Restau...
HVPcIcqiJkrpD36xZFGN6g  {'BusinessAcceptsCreditCards': 'True', 'ByAppo...
0_ohldeFwysbglrTLSGM4Q  {'ByAppointmentOnly': 'False', 'RestaurantsPri...

                                                               categories  \
business_id
1Dfx3zM-rW4n-31KeC8sJg  restaurants, breakfast & brunch, mexican, taco...
PZ-LZzSlhSe9utkQYU8pFg                               restaurants, italian
LB6ZyCfUzeX9OLdunHhnOQ  shopping, home & garden, department stores, me...
HVPcIcqiJkrpD36xZFGN6g  home services, real estate, financial services...
0_ohldeFwysbglrTLSGM4Q                             beauty & spas, barbers

                             city  \
business_id
1Dfx3zM-rW4n-31KeC8sJg    Phoenix
PZ-LZzSlhSe9utkQYU8pFg  Las Vegas
LB6ZyCfUzeX9OLdunHhnOQ  Las Vegas
HVPcIcqiJkrpD36xZFGN6g  Las Vegas
0_ohldeFwysbglrTLSGM4Q   Glendale

                                                                    hours  \
business_id
1Dfx3zM-rW4n-31KeC8sJg  {'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...
PZ-LZzSlhSe9utkQYU8pFg                                                NaN
LB6ZyCfUzeX9OLdunHhnOQ  {'Monday': '9:0-23:0', 'Tuesday': '9:0-23:0', ...
HVPcIcqiJkrpD36xZFGN6g                                                NaN
0_ohldeFwysbglrTLSGM4Q  {'Tuesday': '9:0-17:0', 'Wednesday': '9:0-17:0...

                        is_open   latitude   longitude  \
business_id
1Dfx3zM-rW4n-31KeC8sJg        1  33.495194 -112.028588
PZ-LZzSlhSe9utkQYU8pFg        0  36.100016 -115.128528
LB6ZyCfUzeX9OLdunHhnOQ        1  36.161805 -115.287277
HVPcIcqiJkrpD36xZFGN6g        1  36.216667 -115.242027
0_ohldeFwysbglrTLSGM4Q        0  33.623871 -112.186448

                                              name  postal_code  review_count  \
business_id
1Dfx3zM-rW4n-31KeC8sJg                   Taco Bell      85016.0            18
PZ-LZzSlhSe9utkQYU8pFg  Carluccio's Tivoli Gardens      89119.0            40
LB6ZyCfUzeX9OLdunHhnOQ         Ross Dress for Less      89117.0            38
HVPcIcqiJkrpD36xZFGN6g             Bank of America      89108.0            19
0_ohldeFwysbglrTLSGM4Q      The Lounge Barber Shop      85306.0             6

                        stars state  IsRestaurants  IsShopping  IsFood  \
business_id
1Dfx3zM-rW4n-31KeC8sJg    3.0    AZ           True       False   False
PZ-LZzSlhSe9utkQYU8pFg    4.0    NV           True       False   False
LB6ZyCfUzeX9OLdunHhnOQ    3.5    NV          False        True   False
HVPcIcqiJkrpD36xZFGN6g    1.5    NV          False       False   False
0_ohldeFwysbglrTLSGM4Q    3.5    AZ          False       False   False

                        IsHomeservices  IsBeautyspas
business_id
1Dfx3zM-rW4n-31KeC8sJg           False         False
PZ-LZzSlhSe9utkQYU8pFg           False         False
LB6ZyCfUzeX9OLdunHhnOQ           False         False
HVPcIcqiJkrpD36xZFGN6g            True         False
0_ohldeFwysbglrTLSGM4Q           False          True

In [8]:
#Reduce the User DF to have only those users that are in the OurReviewsDF

print ('\nDate/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
OurPhotosDF=photosDF.join(BusinessesIDDF,on='business_id', how='inner')
OurPhotosDF.drop('BusinessCnt', axis=1, inplace=True) 
#OurPhotosDF=pd.DataFrame(OurPhotosDF['date'])
print ("\nNumber of businesses on the BusinessesIDDF", len(BusinessesIDDF))
print ("\nNumber of photos on the photosDF", len(photosDF))
print ("\nNumber of photos/businesses on the OurPhotosDF", len(OurPhotosDF))

print("OurPhotosDF data")
print("====================")

#print("\n***** isna")
#print(OurPhotosDF.isnull().sum())

print("\n***** dtypes")
print(OurPhotosDF.dtypes)

print("\n***** head")
print(pd.DataFrame.head(OurPhotosDF))

print("\n***** describe")
print(OurPhotosDF.describe())

print ('\nDate/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

Date/time: 2019-05-29 14:28:01

Number of businesses on the BusinessesIDDF 19122

Number of photos on the photosDF 200000

Number of photos/businesses on the OurPhotosDF 30006
OurPhotosDF data
====================

***** dtypes
business_id    object
caption        object
label          object
dtype: object

***** head
                                   business_id caption   label
photo_id
YjxBE88Bf6CmTEF2LP1UNA  Kn23LDd740SBVJ7mum0fwg          inside
uJuz9MwcTUESdxLwmYqU9A  Kn23LDd740SBVJ7mum0fwg     bar  inside
rwXYyqN51p0ow02WVgfHgw  Kn23LDd740SBVJ7mum0fwg          inside
FHG5JVoDSOkMkQB3lv9jVg  Kn23LDd740SBVJ7mum0fwg          inside
Wl0bIYFcbp-PKMzu0p8gsw  Kn23LDd740SBVJ7mum0fwg          inside

***** describe
                   business_id caption  label
count                    30006   30006  30006
unique                    3453   12463      5
top     RESDUcs7fIiihp38-d6_6g           food
freq                       823   15109  17849

Date/time: 2019-05-29 14:28:02

In [9]:
print ('\nDate/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))
OurPhotosDF.to_csv("ouryelpphotos.csv", sep="|", encoding = 'utf-8')
print ('\nDate/time:', datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

Date/time: 2019-05-29 14:28:02

Date/time: 2019-05-29 14:28:02